<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>ATM</title>
</head>
<body>
<h1 th:text="'Balance: ' + ${balance} + ' SEK'"></h1>
<hr>
<form method="post" th:action="@{/withdraw}">
    <h3>Withdraw</h3> <label for="withdrawAmount">Withdraw Amount:</label>
    <input id="withdrawAmount" type="number" name="amount">
    <button type="submit">Withdraw</button>
</form>
<hr>
<form method="post" th:action="@{/deposit}">
    <h3>Deposit</h3> <label for="depositAmount">Deposit Amount:</label>
    <input id="depositAmount" type="number" name="amount">
    <button type="submit">Deposit</button>
</form>
</body>
</html>